/* Particle Vanilla CSS - No Tailwind dependency */

.particle {
  position: absolute;
  width: 40px;
  height: 40px;
  /* Transition properties (duration, timing-function) are set inline via style prop */
  transition-property: transform, opacity;
}

.particle__icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

