/**
 * @jepepa/like-button - Vanilla CSS Styles
 *
 * Import this file when using LikeButtonVanilla:
 * import '@jepepa/like-button/styles.css';
 */

@import "./LikeButton/LikeButton.vanilla.css";
@import "./Particle/Particle.vanilla.css";

